* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
}


/* LEFT SIDE OF SIGN-UP PAGE */
.img-sidebar {
    flex: 1;
    display: flex;
    background-image: url(/img/camping-tent.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 45vh;

}

.banner {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.3);
    font-family: 'Satisfy', cursive;
    font-size: 3.5rem;

}

.banner > img {
    width: 5vw;
    margin-right: 20px;
    color: white;
}

.props, .banner {
    color: white;
}


/* RIGHT SIDE OF PAGE */
.content-sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
}



.content {
    flex: 1;
}

 
.content-header > p {
    margin: 30px  250px 30px 30px;
    padding: 10px;
    font-size: 1.7rem;
}


.content:nth-child(odd) {
    background-color: #f3f3f3;


}

.content-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;


}



form {
    display: flex;
    margin-left: 30px;
    padding: 10px;
    font-size: 1.7rem;
    width: 60%;

}

legend {
    margin-top: 5px;
    margin-left: 30px;
    padding: 10px;
    font-size: 1.7rem;

}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    flex: 1;

}


input {
    margin-bottom: 15px;
    width: 70%;
    border: 2px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;

}

input.colorable:not(:focus):not(:placeholder-shown):invalid {
    border-color: #df2e04;
}


input.colorable:not(:focus):not(:placeholder-shown):valid {
    border-color: #078005;
  }
  

.content-form p{
    margin-bottom: 5px;
    margin-left: 30px;
    padding-left: 10px;
} 

button {
    height: 50px;
    width: 270px;
    padding: 5px;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: #134e13;
    color: white;
    
}

.content-footer p {
    margin-left: 35px;
}

a {
    text-decoration: none;
    color: #134e13;
}



  
  
  
  
  

  
  
